<div ng-include="'views/navbar.html'">

</div><div class="hero-unit">
  <h1>Graphs</h1>
  <p>A simple app using <strong>Angular.js</strong> with <strong>D3</strong></p>
  <h3>Enjoy! - F9 :-)</h3>
</div>
