<div class="header" ng-controller="NavbarCtrl">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <h3 class="text-muted">f9</h3>
</div>